@model Chuade3.Models.HoaDon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.Hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.Hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaylap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaylap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dongia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {MaKH = Model.MaKH, TenSP=Model.TenSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
